* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header {
    display: flex;
    justify-content: center;
}


.triangle {
    position: absolute;
    z-index: -1;
    width: 719.5px;
    height: 626px;
    left: -93px;
    top: 15.5px;
}
.header-container {
    position: relative;
    margin-top: 59px;
    width: 1110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    font-weight: 700;
    font-size: 20px;
    font-family: 'Nunito';
    font-style: normal;
}

.links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 345px;
    align-items: center;
}

.link {
    text-decoration: none;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    color: #000000;
}

.basket {
    width: 29px;
    height: 29px;
    margin-left: 113px;
}

.header-content {
    margin-top: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offer {
    margin-right: 26px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 167.4%;
    /* or 59px */

    letter-spacing: 0.25em;
    text-transform: uppercase;

    color: #000000;
}

.subtitle {
    margin-top: 32px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.03em;

    color: #000000;
}

.btn {
    margin-top: 32px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #FFFFFF;

    background: #3C3C3C;
    padding: 23px 60px;
}

.image {
    width: 634px;
}